[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".vim/pack/mohin_plugins/start/vim-tmux-navigator"]
	path = .vim/pack/mohin_plugins/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule ".vim/pack/mohin_plugins/start/vim-commentary"]
	path = .vim/pack/mohin_plugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule ".vim/pack/mohin_plugins/start/vim-obsession"]
	path = .vim/pack/mohin_plugins/start/vim-obsession
	url = https://github.com/tpope/vim-obsession
[submodule ".vim/pack/mohin_plugins/start/vim-easy-align"]
	path = .vim/pack/mohin_plugins/start/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align
